<template>
  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <h3 class="description">Your content here</h3>
      </div>
    </div>
  </div>
  <Footer />
</template>
<script>
import Footer from "../components/Footer.vue";
export default {
  components: { Footer },
};
</script>
