<template>
  <div class="sidebar" data-color="black" data-active-color="warning">
    <div class="logo">
      <a href="https://www.creative-tim.com" class="simple-text logo-mini">
        <div class="logo-image-small">
          <img src="../assets/img/logo-small.png" alt="Logo" />
        </div>
      </a>
      <a href="https://www.creative-tim.com" class="simple-text logo-normal">
        Creative Tim
      </a>
    </div>
    <div class="sidebar-wrapper" style="overflow: hidden">
      <ul class="nav">
        <li
          v-for="item in items"
          :class="item.path === $route.path ? 'active' : ''"
        >
          <a @click="goTo(item.path)">
            <i :class="item.icon"></i>
            <p>{{ item.title }}</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>
<script lang="ts">
export default {
  data() {
    return {
      items: [
        {
          title: "Dashboard",
          icon: "nc-icon nc-bank",
          path: "/",
        },
        {
          title: "Icons",
          icon: "nc-icon nc-diamond",
          path: "/icons",
        },
        {
          title: "Maps",
          icon: "nc-icon nc-pin-3",
          path: "/maps",
        },
        {
          title: "Notifications",
          icon: "nc-icon nc-bell-55",
          path: "/notifications",
        },
        {
          title: "User Profile",
          icon: "nc-icon nc-single-02",
          path: "/user",
        },
        {
          title: "Table List",
          icon: "nc-icon nc-tile-56",
          path: "/table",
        },
        {
          title: "Typography",
          icon: "nc-icon nc-caps-small",
          path: "/typography",
        },
      ],
    };
  },
  methods: {
    goTo(path) {
      this.currentPage = path;
      this.$router.push(path);
    },
  },
};
</script>
