<template>
  <div :class="mainClass">
    <Sidebar />
    <div class="main-panel">
      <Navbar />
      <router-view></router-view>
    </div>
  </div>
</template>
<script>
import Sidebar from "./components/Sidebar.vue";
import Navbar from "./components/Navbar.vue";
import useSidebar from "./store/sidebar";
import { computed } from "vue";
export default {
  components: { Navbar, Sidebar },
  setup() {
    const { showSidebar } = useSidebar();

    const mainClass = computed(() => {
      if (showSidebar.value) {
        return "wrapper nav-open";
      }
      return "wrapper";
    });

    return { showSidebar, mainClass };
  },
};
</script>
